<h1>Editing Collection</h1>

<%= render 'form', collection: @collection %>

<%= link_to 'View Collection', @collection, class: "btn btn-default" %>
<%= link_to 'All Collections', collections_path, class: "btn btn-default" %>
