<table>
  <tr>
    <th>Name</th>
    <th>title</th>
    <th>phone number</th>
  </tr>
<% @directories.each do |d| %>
  <tr>
    <td><%= d.name %></td>
    <td><%= d.title %></td>
    <td><%= d.phone_number %></td>
  </tr>
<% end %>
</table>