<%= form_for @directory do |f| %>
   <div class="form-group">
      <%= f.label :file, "Upload CSV File" %>
      <%= f.file_field :file, class: 'form-control-file', required: true %>
   </div>
   <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>