<h1>Editing Slide</h1>

<%= render 'form', slide: @slide, slide_types: @slide_types, kiosks: @kiosks, collections: @collections %>
<%= link_to 'Show', @slide, class: "btn btn-default" %>
<%= link_to 'Back', slides_path, class: "btn btn-default" %>
