<h1>Editing Slide Type</h1>

<%= render 'form', slide_type: @slide_type %>

<%= link_to 'Show', @slide_type, class: "btn btn-primary" %>
<%= link_to 'Back', slide_types_path, class: "btn btn-default" %>
