<h1>Admin Panel</h1>
<ul>
  <li><%= link_to "Manage Slides", slides_path %></li>
  <li><%= link_to "Manage Slide Types", slide_types_path %></li>
  <li><%= link_to "Manage Kiosks", kiosks_path %></li>
</ul>
