@import "../../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";

#admin_kiosk {
  background-color: #1d1d1d;

  .kiosk-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 1.5em;
    padding-bottom: 1em;
    h1.main-header {
      margin-left: 1em;
      font-family: "Stratum2WebBold" !important;
      color:#eee;
    }
    img.logo {
      max-height: 70px;
      padding: 5px;
    }
  }

  .kiosk-footer {
    text-align: left;
    flex-direction: row;
    justify-content: left;
    h2 {
      color:#eee;
    }

    .navigation-menu {
      margin-top: -3em;
      padding-left: 2em;
      padding-top: 1.5em;
    }

    .navigation-menu button {
      border: none;
      outline: none;
      background: none;
      color: #eee;
      font-size: xx-large;
      align-content: left;
    }

    .navigation-menu button.btn-primary {
      text-decoration: underline;
    }
  }

  .main-component {
    min-height: calc(100vh - 200px);
    padding-bottom: 10px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    .content-component {
      background: #eee;
      padding: 25px;
      height: 870px;
    }
    .map-content>div {
      height: 800px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  // customize gallery
  .image-gallery {
    // Set container elements to 100% height.
    height: 100%;
    width: 100%;
  }
  .image-gallery-image {
    background: black;
    text-align: center;
    height: 870px;
    img {
      max-height: 870px;
    }
    video {
      height: 880px;
    }
  } 
}

.osulp-table {
  border: 1px solid #d1cccc;
  width: 75%;
  font-size: 18px;
}
.ecampus-table {
  border: 1px solid #d1cccc;
  width: 75%;
  font-size: 18px;
}
.osulp-table-row > td{
 padding: 5px 5px 5px 10px;
 border: 1px solid #d1cccc;
}
.ecampus-table-row > td {
 padding: 5px 5px 5px 10px;
 border: 1px solid #d1cccc;
}
.osulp-table-header > th{
 padding: 5px 5px 5px 10px;
 background-color: #444;
 color: white;
}
.ecampus-table-header > th {
 padding: 5px 5px 5px 10px;
 background-color: #444;
 color: white;
}
.osulp-table-row:nth-child(odd) {background-color: #d1cccc;}
.ecampus-table-row:nth-child(odd) {background-color: #d1cccc;}