#circulation_kiosk {
  .circ-title {
    font-size: 48px;
    width: 100%;
    color: white;
    text-align: center;
  }
  .circ-counter {
    width: 50%;
    margin: 0 auto;
  }
  .circ-sidebar-title {
    font-size: 24px;
    width: 100%;
    color: white;
    text-align: center;
  }

  .logo {
    height: 30px;
    margin: 20px 20px;
  }
}


