$dark-red: #d01f1f;
$bright-red: #f00;
$not_quite_black: #101010;
$osu_orange: #dc4406;
$shaded_grey: #7b7b7b;
$scarc_blue: #003B5C;
$scarc_blue_light: #4390da;

/* GLOBAL STYLES
-------------------------------------------------- */

/* Set container elements to 100% height. */
html,
body,
#application_root {
  height: 100%;
  width: 100%;
}

input.btn.btn-primary.upload-slides {
  margin-top: 0px;
}

/* Padding below the footer and lighter body text */

body {
  color: #060606;
}

#circulation_kiosk .row {
  width: 100%;
}

a.navbar-brand.active {
  color: whitesmoke;
}

.btn-primary {
  margin-top: 1em;
  margin-bottom: 1em;
}

.add_fields.btn.btn-success {
  float: right;
  margin: 1em;
}

.remove_fields.btn.btn-danger {
  float: right;
}

.panel-display-dates {
  padding-bottom: 4em;
}

.field {
  margin-bottom: 1em;
}

.datetime-form-control {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

body > #application_root {
  background-color: $not_quite_black;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}

#modal > *:not(.glyphicon) {
  max-width: 90%;
  max-height: 90%;
  overflow-y: scroll;
  margin: 40px auto;
  background-color: #ffffff;
  border-radius: 10px;
  color: #212121;
}

#modal > .glyphicon {
  right: 15px;
  top: 15px;
  position: absolute;
  font-size: 40px;
  color: #888;
  text-shadow: 0 0 4px #1b1b1b;
}

#modal > .glyphicon:hover {
  color: lighten($osu_orange, 5%);
  cursor: pointer;
}

.field.checkbox_container input {
  margin-right: 0.25em;
}
.field.checkbox_container label {
  margin-right: 2em;
}

/* Animated glyphicon, 360 rotation when .is_fetching
-----------------------------------------------------------------------*/
.glyphicon.is_fetching {
  -webkit-animation: spin 400ms infinite linear;
  -moz-animation: spin 400ms infinite linear;
  -ms-animation: spin 400ms infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tabbed-panel {
  .panel-heading {
    padding-bottom: 0;
    button {
      border-bottom: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    button:first-child:not(:last-child):not(.dropdown-toggle) {
      border-top-left-radius: 4px;
    }
    button:last-child:not(:first-child):not(.dropdown-toggle) {
      border-top-right-radius: 4px;
    }
  }
  .panel-body {
    ul {
      list-style-type: none;
      li {
        display: none;
        div {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      li.selected {
        display: block;
      }
    }
  }
}

// Virtual Keyboard styles
#search-primo {
  .search-bar {
    padding: 10px;
    background-color: $osu_orange;
    > div {
      height: 50px;
    }
    input {
      font-size: 3rem;
      line-height: 3rem;
      height: 5rem;
    }
    .material-icons {
      position: relative;
      float: right;
      top: -44px;
      font-size: 4rem;
      color: #888;
      cursor: pointer;
    }
  }
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Open+Sans");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Stratum2WebBold";
  src: asset_url("/fonts/Stratum2WebBold.woff") format("woff");
}

// This is for animating modal windows
.slide-entering {
  animation: grow 350ms;
}

// The time 350ms is exactly related to the timeout duration found in components that attach display:none 350ms after attaching .slide-exiting.
// A new animation is necessary because reversing the animation will not play unless played infinitely, resulting in odd behavior
.slide-exiting {
  animation: shrink 350ms;
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
