$dark-red: #d01f1f;
$bright-red: #f00;
$not_quite_black: #101010;
$osu_orange: #C34500;
$shaded_grey: #7b7b7b;

/* GLOBAL STYLES
-------------------------------------------------- */

/* Set container elements to 100% height. */
html, body, #application_root {
  height: 100%;
  width: 100%;
}

/* Padding below the footer and lighter body text */

body {
  color: #060606;
}

body > #application_root {
  background-color: $not_quite_black;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}

#modal > *:not(.glyphicon) {
  max-width: 90%;
  max-height: 90%;
  overflow-y: scroll;
  margin: 40px auto;
  background-color: #ffffff;
  border-radius: 10px;
  color: #212121;
}

#modal > .glyphicon {
  right: 15px;
  top: 15px;
  position: absolute;
  font-size: 40px;
  color: #888;
  text-shadow: 0 0 4px #1b1b1b;
}

#modal > .glyphicon:hover {
  color: lighten($osu_orange, 5%);
  cursor: pointer;
}

/* Animated glyphicon, 360 rotation when .is_fetching
-----------------------------------------------------------------------*/
.glyphicon.is_fetching {
  -webkit-animation: spin 400ms infinite linear;
  -moz-animation: spin 400ms infinite linear;
  -ms-animation: spin 400ms infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tabbed-panel {
  .panel-heading {
    padding-bottom: 0;
    button {
      border-bottom:none;
      -webkit-border-radius:0;
      -moz-border-radius:0;
      border-radius:0;
    }
    button:first-child:not(:last-child):not(.dropdown-toggle) {
      border-top-left-radius: 4px;
    }
    button:last-child:not(:first-child):not(.dropdown-toggle) {
      border-top-right-radius: 4px;
    }
  }
  .panel-body {
    ul {
      list-style-type: none;
      li {
        display: none;
        div {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      li.selected {
        display: block;
      }
    }
  }
}