@import "../../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";

$osu_orange: #C34500;
$not_quite_black: #101010;

/* GLOBAL STYLES
-------------------------------------------------- */

/* Set container elements to 100% height. */
html, body, #application_root, #touch_kiosk, #slide_gallery,
.image-gallery { height: 100%; }

/* Padding below the footer and lighter body text */

body {
  /*padding-bottom: 40px;*/
  color: #5a5a5a;
  background-color: $not_quite_black;
}

/* CUSTOMIZE GALLERY
--------------------------------------------------------*/
.image-gallery-bullet {
  background-color: rgba(255, 255, 255, 0.54) !important;
  border-color: rgba(255,255,255, 0.90) !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding: 7px;
}

.image-gallery-bullet.active {
  background-color: $osu_orange !important;
  border-color: $not_quite_black !important;
  border-width: 2px;
  padding: 10px;
}

.image-gallery-left-nav {
  left: 10px;
}

.image-gallery-right-nav {
  right: 10px;
}

.image-gallery-fullscreen-button,
.image-gallery-play-button,
.image-gallery-left-nav,
.image-gallery-right-nav {
  &::before {
    color: $osu_orange;
    text-shadow: 0 2px 3px lighten($not_quite_black, 10%);
  }

  &:hover::before {
    color: #fff;
  }
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-header img {
  height: 30px;
  margin-top: 10px;
  margin-right: 20px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 10px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}
