@import "../../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";
@import "../../../node_modules/rc-calendar/assets/index";

$willwest: #3d5cff;
$willeast: #ff3c5c;
$willeastwest: #A020F0;
$barnard: #6eff7e;
$autzen: #ea76ff;

/* Set container elements to 100% height. */
#touch_kiosk, #slide_gallery, .image-gallery {
  height: 100%;
  width: 100%;
}

#touch_kiosk {
  /* CUSTOMIZE GALLERY
  --------------------------------------------------------*/
  .image-gallery-slide-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .image-gallery-bullet {
    background-color: rgba(200, 54, 54, 0.5) !important;
    border-color: rgba(255, 255, 255, 0.90) !important;
    -webkit-box-shadow: 2px 1px 0 #1a1a1a !important;
    -moz-box-shadow: 2px 1px 0 #1a1a1a !important;
    padding: 15px;
  }

  .image-gallery-bullet.active {
    background-color: $osu_orange !important;
    border-color: $not_quite_black !important;
    -webkit-box-shadow: 1px 1px 0 #1a1a1a !important;
    -moz-box-shadow: 1px 1px 0 #1a1a1a !important;
    border-width: 2px;
    padding: 18px;
  }

  .image-gallery-left-nav {
    left: 10px;
  }

  .image-gallery-right-nav {
    right: 10px;
  }

  .image-gallery-fullscreen-button,
  .image-gallery-play-button,
  .image-gallery-left-nav,
  .image-gallery-right-nav {
    &::before {
      color: $osu_orange;
      text-shadow: 0 2px 3px lighten($not_quite_black, 10%);
    }

    &:hover::before {
      color: #fff;
    }
  }

  /* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */

  /* Special class on .container surrounding .navbar, used for positioning it into place. */
  .navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
  }

  /* Flip around the padding for proper display in narrow viewports */
  .navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-wrapper .navbar .container {
    width: auto;
  }

  .navbar-wrapper .container .navbar.navbar-static-top {
    border: solid 1px #464646;
  }

  .navbar-text.hours {
    font-size: 16px;
  }

  .navbar-header img {
    height: 30px;
    margin-top: 10px;
    margin-right: 20px;
  }

  .navbar-header img.is_active {
    -webkit-animation: spin 1000ms infinite linear;
    -moz-animation: spin 1000ms infinite linear;
    -ms-animation: spin 1000ms infinite linear;
  }

  .navbar-wrapper .refresh-slides > a {
    padding: 0;
    padding-top: 11px;
    padding-right: 11px;
  }

  .navbar-wrapper .refresh-slides > a > .glyphicon {
    font-size: 25px;
    width: 25px;
    height: 25px;
    display: none;
  }
  .navbar-wrapper .refresh-slides > a > .glyphicon:hover {
    cursor: pointer;
  }

  .nav.navbar-nav li a.btn {
    background-color: $osu_orange;
    border-color: darken($osu_orange, 10%);
    padding: 10px;
    margin-top: 4px;
    font-size: 14px;
    color: #eee;
  }
  .nav.navbar-nav li a.btn:hover {
    background-color: lighten($osu_orange, 5%);
    border-color: $osu_orange;
  }
  .nav > li {
    margin-right: 20px;
  }

  /* Hours component styles
  ---------------------------------------------------------*/
  #hours {
    padding: 0;

    .panel-title {
      font-size: 30px;
    }
    .panel-heading .glyphicon {
      color: $shaded_grey;
      width: 20px;
      height: 20px;
      font-size: 20px;
      float: right;
      display: none;
      margin-top: 10px;
    }
    .glyphicon.is_fetching {
      display: inline-block;
    }
    .hours-table-container {
      margin-top: 15px;
      padding-bottom: 15px;

      .rc-calendar {
        width: 100%;
        font-size: 20px;
        margin: 10px;
      }
      .rc-calendar-body {
        height: 100%;
      }
      .rc-calendar-cell {
        padding: 3px 0;
        .rc-calendar-date {
          line-height: 35px;
          height: 35px;
          width: 35px;

        }
      }
      .rc-calendar-prev-month-btn, .rc-calendar-next-month-btn, .rc-calendar-prev-year-btn, .rc-calendar-next-year-btn {
        font-size: 30px;
      }

      .hours-table-datepicker {
        text-align: center;
        margin-botom: 10px;
        label {
          margin-right: 5px;
        }
      }
    }
    table.hours-table {
      margin: 0 auto;

      thead tr th:first-child,
      tbody tr td:first-child {
        text-align: right;
        padding-right: 25px;
      }
    }

    .hours-table-error {
      text-align: center;
      padding: 20px 0 0 0;
    }
    .hours-table-error > span {
      color: $bright-red;
      display: inline-block;
      padding-right: 5px;
      vertical-align: bottom;
    }
    .hours-table-error > .glyphicon {
      font-size: 30px;
    }
  }

  #maps_tabbed_panel {
    height: 90%;
    ul {
      height: 90%;
      li,
      li > div {
        height: 90%;
      }
    }
  }

  #search-primo {
   .search-iframe {
     padding: 0px;
   }
  }

  #classroom_schedule {
    .panel-title {
      font-size: 30px;
    }
    .panel-heading .glyphicon {
      color: $shaded_grey;
      width: 20px;
      height: 20px;
      font-size: 20px;
      float: right;
      display: none;
      margin-top: 10px;
    }
    .glyphicon.is_fetching {
      display: inline-block;
    }
    .classroom-schedule-table-container {

      h2 {
        text-align: center;
      }
      .classroom-filter {
        border-bottom: solid 1px #efefef;
        padding-bottom: 10px;
        font-size: large;
        ul {
          list-style: none;
        }
        ul li {
          float: left;
          margin: 0 20px;
        }
        ul li:first-child {
          text-align: right;
          color: #cecece;
        }
        ul li .glyphicon {
          margin-right: 5px;
          width: 20px;
          color: #adadad;
        }
        ul li .glyphicon.checked {
          color: #000;
        }
        ul li.lib-willwest .glyphicon.checked {
          color: $willwest;
        }
        ul li.lib-willeast .glyphicon.checked {
          color: $willeast;
        }

        ul li.lib-barnard .glyphicon.checked {
          color: $barnard;
        }
        ul li.lib-autzen .glyphicon.checked {
          color: $autzen;
        }
      }
      .classroom-schedule-table {
        margin-top: 20px;
        thead tr th,
        tbody tr td {
          border: none;
        }
        thead tr th,
        tbody tr td {
          padding: 0;
        }
        thead tr.event-header-row th div,
        tbody tr.event-detail-row td div {
          float: left;
          width: 100%;
        }
        tbody tr.event-detail-row td div {
          padding-top: 15px;
        }
        thead tr.event-header-row th div span {
          font-weight: normal;
          color: #cecece;
          font-size: large;
        }
        thead tr.event-header-row th div span,
        tbody tr.event-detail-row td div span {
          display: inline-block;
          width: 30%;
          vertical-align: bottom;
          text-align: center;
        }
        tbody tr.event-detail-row td div span.event-title {
          font-size: large;
          text-align: left;
        }

        tbody tr.event-time-row td {
          border-top: solid 1px #ececec;
        }
        tbody tr.event-time-row td span {
          width: 25%;
          float: left;
        }
        tbody tr.event-time-row td span.event-hour-header {
          width: 100%;
          float: left;
          font-size: 10px;
          display: none;
          background-color: transparent;
        }
        tbody tr.event-time-row td.event-hour span {
          border-left: solid 1px #adadad;
          background-color: #ececec;
          line-height: 15px;
        }
        tbody tr.event-time-row td.event-hour span.event-hour-header {
          display: inline-block;
          border-left: solid 1px #adadad;
          padding-left: 3px;
        }
        tbody tr.event-time-row td.event-hour span.event-time {
          background-color: #000;
          margin-bottom: 5px;
          border: none;
        }

        tbody tr.lib-willwest td.event-hour span.event-time {
          background-color: $willwest;
          border-left: solid 1px darken($willwest, 25%);
        }
        tbody tr.lib-willeast td.event-hour span.event-time {
          background-color: $willeast;
          border-left: solid 1px darken($willeast, 25%);
        }
        tbody tr.willamette-combined.willamette-selected td.event-hour span.event-time {
          background-color: $willeastwest;
          border-left: solid 1px darken($willeast, 25%);
        }
        tbody tr.lib-barnard td.event-hour span.event-time {
          background-color: $barnard;
          border-left: solid 1px darken($barnard, 25%);
        }
        tbody tr.lib-autzen td.event-hour span.event-time {
          background-color: $autzen;
          border-left: solid 1px darken($autzen, 25%);
        }

      }
    }
  }

  #search-primo {
    .search-bar {
      padding: 10px;
      background-color: $osu_orange;
      > div {
        height: 50px;
      }
      input {
        font-size: 3rem;
        line-height: 3rem;
        height: 5rem;
      }
      .material-icons {
        position: relative;
        right: -538px;
        top: -44px;
        font-size: 4rem;
        color: #888;
        cursor: pointer;
      }
    }
  }
  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
      margin-top: 10px;
    }
    .navbar-wrapper .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar-wrapper .navbar {
      padding-right: 0;
      padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
      border-radius: 4px;
    }
  }
}

#primo_search_keyboard {
  z-index: 9999 !important;
}

/* keyboard - jQuery UI Widget */
.ui-keyboard { padding: .3em; position: absolute; left: 0; top: 0; z-index: 16000; }
.ui-keyboard-has-focus { z-index: 16001; }
.ui-keyboard div { font-size: 1.1em; }
.ui-keyboard-button { height: 2em; min-width: 2em; margin: .1em; cursor: pointer; overflow: hidden; line-height: 2em; -moz-user-focus: ignore; }
.ui-keyboard-button span { padding: 0; margin: 0; white-space:nowrap; display: inline-block; }
.ui-keyboard-button-endrow { clear: left; }
.ui-keyboard-space { width: 15em; }
.ui-keyboard-space span, .ui-keyboard-empty span { font: 0/0 a; text-shadow: none; color: transparent; } /* see http://nicolasgallagher.com/another-css-image-replacement-technique/ */
.ui-keyboard-preview-wrapper { text-align: center; }
.ui-keyboard-preview { text-align: left; margin: 0 0 3px 0; display: inline; width: 99%;} /* width is calculated in IE, since 99% = 99% full browser width =( */
.ui-keyboard-keyset { text-align: center; white-space: nowrap; }
.ui-keyboard-input { text-align: left; }
.ui-keyboard-input-current { -moz-box-shadow: 1px 1px 10px #00f; -webkit-box-shadow: 1px 1px 10px #00f; box-shadow: 1px 1px 10px #00f; }
.ui-keyboard-placeholder { color: #888; }
.ui-keyboard-nokeyboard { color: #888; border-color: #888; } /* disabled or readonly inputs, or use input[disabled='disabled'] { color: #f00; } */
.ui-keyboard-spacer { display: inline-block; width: 1px; height: 0; cursor: default; }
.ui-keyboard-input.light, .ui-keyboard-preview.light { color: #222; background: #ddd; }
.ui-keyboard-input.dark, .ui-keyboard-preview.dark { color: #ddd; background: #222; }

/* combo key styling - toggles diacritics on/off */
.ui-keyboard-button.ui-keyboard-combo.ui-state-default { border-color: #ffaf0f; }

/* (in)valid inputs */
button.ui-keyboard-accept.ui-keyboard-valid-input { border-color: #0c0; background: #080; color: #fff; }
button.ui-keyboard-accept.ui-keyboard-valid-input:hover { background: #0a0; }
button.ui-keyboard-accept.ui-keyboard-invalid-input { border-color: #c00; background: #800; color: #fff; opacity: 0.5; filter: alpha(opacity=50); }
button.ui-keyboard-accept.ui-keyboard-invalid-input:hover { background: #a00; }

/*** Caret extension definition ***/
/* margin-top => is added to the caret height (top & bottom) */
.ui-keyboard-caret { background: #c00; width: 1px; margin-top: 3px; }

/* jQuery Mobile specific definitions
 * Toggle button image definitions
 * Extender button image
 * Media queries can be found in the keyboard.css file,
 * but are not included here
 */
