<h1>Kiosks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kiosks.each do |kiosk| %>
      <tr>
        <td><%= kiosk.name %></td>
        <td><%= link_to 'Show', kiosk_show_path(id: kiosk.name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% unless current_user %>
  <%= render 'login_form' %>
<% end %>

