@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Open+Sans");
  font-weight: normal;
  font-style: normal;
}

@import "bootstrap-sprockets";
@import "bootstrap";
@import "layouts/main";
@import "layouts/touch-kiosk";
@import "layouts/donor-kiosk";
@import "layouts/donor-coverflow-kiosk";
@import "layouts/scarc-coverflow-kiosk";
@import "layouts/circ-kiosk";
@import "layouts/media-kiosk";
@import "layouts/interactive-kiosk";
@import "flipclock";
@import "jquery.fileupload-ui";

*:not(.material-icons) {
  font-family: "Open Sans", sans-serif !important;
}
