<p id="notice"><%= notice %></p>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <strong>Name:</strong>
      </th>
      <td>
        <p>
        <%= @kiosk.name %>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_kiosk_path(@kiosk), class: "btn btn-primary" %>
<%= link_to 'Back', kiosks_path, class: "btn btn-default" %>
